<footer class="{{footerClass}}">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <a routerLink="/" class="logo">
                        <img style = "width:300px" src="assets/img/logo2.0.png" alt="logo">
                    </a>
                    <p>We have created artificial intelligence tools and APIs to automate all your tasks and provide training and cloud services.</p>
                    <ul class="social-link">
                        <li><a href="https://www.linkedin.com/organization-guest/company/excain?viewAsMember=true.&challengeId=AQG_tb7POPdD1AAAAXNsnQUgjbgKQLZ0tdANABbGEcZ2krq4S2h05S3k-0G0GTuNv8dbw3I46u5K5YmwQMhundRIWgXn0RS8LA&submissionId=554d86e6-0e7c-2316-dc33-ec1cc43ff95a" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Explore</h3>
                    <ul class="footer-links-list">
                        <li><a routerLink="">Home</a></li>
                        <li><a routerLink="/about-us">About</a></li>
                        <li><a routerLink="/case-studies">Case Studies</a></li>
                        <li><a routerLink="/blog-1">Blog</a></li>
                        <li><a routerLink="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Resources</h3>
                    <ul class="footer-links-list">
                        <li><a routerLink="/about-us">Our Scientists</a></li>
                        <li><a routerLink="/services">Our Services</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Address</h3>
                    <ul class="footer-contact-info">
                        <li><i class='bx bx-map'></i><b>Head Corporate Office: </b>B1/90 Sector - J , Aliganj Lucknow, Uttar Pradesh - 226024</li>
                        <li><i class='bx bx-map'></i>G, 73A, Carterpuri Rd, opposite Ansal Plaza, Sector 23, Gurugram, Haryana 122017</li>
                        <li><i class='bx bx-phone-call'></i><a href="tel:+44587154756">+91 8299864862</a></li>
                        <li><i class='bx bx-envelope'></i><a href="mailto:contact@excain.com">contact@excain.com</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-bottom-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p> <a>Excain</a> all copyrights received <i class='bx bx-copyright'></i>2020</p>
                </div>

                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                        <li><a routerLink="/terms-of-service">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-map"><img src="assets/img/footer-map.png" alt="image"></div>
</footer>

<div class="go-top"><i class="flaticon-up"></i></div>
