<app-hometwo-banner></app-hometwo-banner>

<app-homefour-featured-services></app-homefour-featured-services>

<app-homefour-funfacts></app-homefour-funfacts>

<app-homefour-services></app-homefour-services>

<app-homefour-why-choose-us></app-homefour-why-choose-us>

<app-homethree-about></app-homethree-about>

<app-homefour-testimonials></app-homefour-testimonials>

<!--<app-homefour-industries-serve></app-homefour-industries-serve>-->

<!--<app-hometwo-scientist></app-hometwo-scientist>-->

<app-homeone-case-studies></app-homeone-case-studies>

<!-- <app-homefour-blog></app-homefour-blog> -->

<!--<app-project-start></app-project-start>-->

<app-subscribe></app-subscribe>
